@use "./colors.scss" as Colors;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: grid;
    grid-template-columns: 3fr 4fr 3fr;
    background-color: Colors.$maincolor;
    gap: 2vw;
    height: max-content;
    // max-height: 100vh;
    // max-width: 100vw;
    overflow: hidden;

    :last-child {
        padding: 0;
    }

    #left {
        margin: 3rem 0 3rem 3rem;
        background-color: Colors.$boxcolor;
        padding: 1vw;
        border-radius: 20px;
        max-height: 80vh;


        h1 {
            text-align: center;
            color: white;
            font-size: 2.5vw;
            margin-bottom: -1vw;
        }

        h2 {
            text-align: center;
            margin-bottom: -1vw;
            color: white;
            font-size: 2vw;
            font-weight: normal;
        }

        h2:last-of-type {
            margin-bottom: 1vw;
        }



        #skema-cards {
            margin-bottom: 1vw;

            div {
                display: flex;
                justify-content: space-between;
                background-color: white;
                margin-bottom: 0.5vw;
                height: 100%;
                border-radius: 15px;

                p {
                    padding: 1rem;
                    width: 18%;
                    white-space: nowrap;
                    border-radius: 15px;
                    text-align: center;
                    font-size: 1vw;
                }

                p:first-of-type {
                    font-weight: bold;
                    margin-right: -3.8vw;
                    color: white;
                }

                p:last-of-type {
                    font-weight: bold;
                }



                .mediegrafiker {
                    background-color: Colors.$MGColor;
                }

                .webudvikler {
                    background-color: Colors.$WUColor;
                }

                .grafiskTekniker {
                    background-color: Colors.$GTColor;
                }

                .grafiskTeknik {
                    background-color: Colors.$GTColor;
                }

                .digitalmedia {
                    background-color: Colors.$DMColor;
                }
            }
        }

        #skema-uddanelser {
            display: flex;
            justify-content: center;
            gap: 1rem;

            .mediegrafiker {
                background-color: Colors.$MGColor;
            }

            .webudvikler {
                background-color: Colors.$WUColor;
            }

            .grafiskTeknik {
                background-color: Colors.$GTColor;
            }

            .digitalmedia {
                background-color: Colors.$DMColor;
            }

            h2 {
                height: 100%;
                padding: 0.25vw;
                border-radius: 10px;
            }
        }
    }

    #center {
        padding: 0 1vw 1vw 1vw;
        border-radius: 20px;
        max-height: 90vh;
        margin: 3rem 0;

        #tid-div {
            display: flex;
            justify-content: center;
            height: 5vw;
            position: relative;
            width: 100%;
            margin-bottom: 1vw;

        }

        #tid-linje {
            position: absolute;
            width: 30%;
            height: 2px;
            background-color: white;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
            overflow: hidden;
        }

        #tid-container {
            display: flex;
            background-color: white;
            justify-content: center;
            padding: 0.15vw;
            border-radius: 10px;
            width: 30%;

            p {
                text-align: center;
                align-self: center;
                font-size: 3.2vw;
                background-color: black;
                color: white;
                width: 100%;
                height: 100%;
                border-radius: 10px;
                aspect-ratio: 1/1;
                align-items: center;
            }

            p:first-of-type {
                margin-right: 0.25rem;
            }
        }

        #opslag-container {
            background-color: Colors.$boxcolor;
            border-radius: 20px;
            padding: 0.5vw 1vw;
            color: white;
            margin-bottom: 4vh;

            h1 {
                text-align: center;
                font-size: 1.75vw;
                margin-bottom: 1rem;
            }

            h2 {
                font-size: 1.25vw;
                margin-bottom: 0.5rem;
            }
            p {
                font-size: 0.9vw;
                margin-bottom: 0.5rem;
            }

            .newsWrapper {
                margin-bottom: 2.1vh;
            }
        }

        #kantine-container {
            background-color: Colors.$boxcolor;
            border-radius: 20px;
            padding: 2rem;
            padding-top: 3rem;
            color: white;
            display: flex;
            flex-direction: column;
            text-align: center;
            padding-bottom: 1vh;

            #icon {
                font-size: 1em;
                color: white;
                margin-bottom: 10px;
            }

            h3 {
                color: white;
                font-size: 1.8vw;
                margin-bottom: 10px;
            }

            #menu {

                font-size: 1.25vw;

            }
        }
    }
}

#right {
    background-image: url("../content/photo-1611401507236-b4721793035f.avif");
    background-size: cover;
    background-position-x: 25%;
    height: 100svh;
    width: 100%;
    color: white;
    padding: 1vw;
    padding-top: 1.5vw;
    position: relative;

    #logo {
        width: 100%;
    }

    #bus-cards {
        width: 80%;
        position: absolute;
        left: 50%;
        top: 38%;
        transform: translate(-50%, -50%);

        .bus-card {
            display: flex;
            margin-bottom: 0.5rem;
            background-color: Colors.$boxcolor;
            justify-content: space-between;
            font-size: 1.5vw;
            border-radius: 20px;
            align-items: center;
            padding-right: 1rem;
            h3 {
                background-color: black;
                padding: 0.5rem 1rem;
                border-radius: 20px;
                width: 15%;
                text-align: center;

            }
        }
    }

    #vejr-info {
        width: 100%;
        position: absolute;
        bottom: 13svh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        padding-right: 4.2vw;
        padding-bottom: 3.5vh;
        text-align: end;
        align-items: end;
        color: white;
        margin-bottom: 1.2vh;

        div:first-of-type {
            background-color: Colors.$boxcolor;
            border-radius: 20px;
            padding: 1rem;
            p:first-of-type {
                font-size: 3vw;
                margin-bottom: -2rem;
            }

            p:last-of-type {
                font-size: 2.5vw;
            }
        }

        div:last-of-type {
            position: relative;
            background-color: Colors.$boxcolor;
            border-radius: 20px;
            height: 100%;

            p:first-of-type {
                font-size: 2.2vw;
                position: absolute;
                left: 1rem;
                bottom: 1rem;
                // margin-bottom: 2vh;
            }

            img {
                position: absolute;
                width: 60%;
                height: 60%;
                top: 1vw;
                right: 1vw;
                aspect-ratio: 1/1;
            }
        }
    }
}
